* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Times New Roman', Times, Seri;
}

body {
  display : flex;
  flex-direction: column;
  margin: 0px;
}

h1 {
  margin: 0px;
  background-color: #2e4356;
  color: white;
  padding: 10px;
  padding-left: 20px;
}

#menu {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#menu button {
  margin-right: 5px;
  padding: 5px;
  width: 200px;
  background-color: #ebecee;
  color: #2e4356;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
}

#menu button:hover {
  background-color: #3480b0;
  color: white;
}

#contenido {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f4;
  justify-content: center;
}

table {
  width: 95%;
  margin: 20px auto;
}

th{
  background-color: #dde1e4;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: left;
  background-color: white;
}

.insertarbtn {
  background-color: #4ba557;
  color: white;
  width: 200px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-left: auto;
  margin-right: 150px;
}

.eliminarbtn {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.editarbtn {
  background-color: #3480b0;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  background-color: #f3f5f4;
  padding: 20px;
  border-radius: 10px;
}

form h1 {
  color: #2e4356;
  background-color: #f3f5f4;
  padding: 10px;
}
form label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #3480b0;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  align-self: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(148, 209, 229, 0.5);
}
.modal-contenido {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  font-size: 16px;
}

.cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
